/*
Variables
*/

$color: rgb(55, 131, 182);
// Dark theme
$color-dark-text: white;
$color-dark-background: #333333;
$color-dark-header-background: #575757;
$color-dark-hover: #4b4b4b;
// Light theme
$color-light-text: black;
$color-light-background: white;
$color-light-header-background: #f7f7f7;
$color-light-hover: #e0e0e0;

/*
Mixins
*/

@mixin theme ($color, $color-text, $color-background, $color-header-background, $color-hover) {
    color: $color-text;
    background-color: $color-background;
    header {
        background-color: $color-header-background;
    }
    .content {
        &__title {
            &::after {
                background-color: $color;
            }
        }
        &__boxes {
            &__box {
                &:hover {
                    background-color: $color-hover;
                }
            }
        }
    }
}